@use "../../../assets/scss/" as *;

.nav-item {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    background-color: $main-color;
    font-size: 1.4rem;
    color: #ccc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.active {
    border-left: solid 3.5px $white-color;
    font-size: 1.8rem;
    color: $white-color;
}
