@use "../../../assets/scss/" as *;

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white-color;
    border-radius: 5px;
    border: solid 1px #ccc;
    &__input {
        width: 300px;
        font-size: .9rem;
        color: $text-color;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 7px 15px;
    }

    &__icon {
        color: $text-color;
        padding: 0 15px;
        color: #ccc;
    }
}
